---
import ImageMod from "@/components/ImageMod.astro";
import DynamicIcon from "@/helpers/DynamicIcon";
import { markdownify, plainify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";

interface Props {
  content: CollectionEntry<"services">;

}

const {
  content: {
    body,
    slug,
    data: { title, short_description, image, icon,link,video },
  },
} = Astro.props;

const description = () => {
  if (!short_description) {
    return plainify(body).slice(1, 180);
  }
  return short_description;
};
---

<div
  class="text-center border border-border dark:border-slate-700 dark:bg-[#222C40] rounded-md relative pb-6 mb-6 group">
  <div>
    <div
      class="overlay after:opacity-0 group-hover:after:opacity-100 after:duration-300">
      {
        video && (
        <iframe class="w-full rounded-md h-full" src={video} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        )
      }
    </div>
    {
      icon && (
        <div class="w-16 h-16 bg-primary text-3xl rounded-md flex justify-center items-center mx-auto -mt-8 overlay-content text-white">
          <DynamicIcon icon={icon} />
        </div>
      )
    }
  </div>
  <div class="px-4 grid ">
    {title && <h3 class="text-lg mt-4 mb-0 text-left dark:text-white" set:html={markdownify(title)} />}

    {description && <p set:html={description} class="my-8 mt-4 text-justify mb-2 dark:text-white" />}
    <a
      class="btn btn-primary-dark w-10/12 mt-2"
      href={link}
      set:html="Read More">
      <span class="sr-only" set:html="details" />
    </a>
  </div>
</div>
